<main class="main">
    <div class="outer-container">
        <div class="title-button-container">
            <h1>Tratamientos</h1>

            <div class="button-container">
                <a [routerLink]="['/treatment/adds']" class="btn btn-info">Agregar</a>
            </div>
        </div>
    </div>

    <!-- Barra de búsqueda -->
    <div class="search-container">
        <input type="text" [(ngModel)]="searchQuery" placeholder="Buscar tratamiento por nombre..."
            class="search-input">
    </div>

    <div class="row">
        <div class="col-md-4" *ngFor="let treatment of treatments">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ treatment.name }}</h5>
                    <p class="card-text"><strong>Descripción:</strong> {{ treatment.description }}</p>

                    <p class="card-text"><strong>Médicinas:</strong>
                        <span *ngFor="let medicine of treatment.medicines; let i = index">
                            {{ medicine.name }}<span *ngIf="i < treatment.medicines.length - 1">, </span>
                        </span>
                    </p>
                    
                    <p class="card-text"><strong>Veterinario:</strong> {{ treatment.vet.name }}</p>

                    <p class="card-text"><strong>Mascotas en tratamiento:</strong>
                        <span *ngIf="treatment.pet">{{ treatment.pet.nombre }}</span>
                    </p>
                    
                    
                    <a [routerLink]="['/treatment/update', treatment.id]" class="btn btn-info">Editar</a>
                    <button class="btn btn-danger" (click)="deleteTreatment(treatment)">Borrar</button>

                </div>
            </div>
        </div>
    </div>

</main>