<!-- medicine-update.component.html -->
<main class="main">
    <section class="form-container container">
      <h2>Actualizar Medicina</h2>
  
      <form *ngIf="medicine" (ngSubmit)="onSubmit()" #medicineForm="ngForm">
        
        <!-- Nombre de la Medicina -->
        <div class="form-group">
          <label for="name">Nombre de la Medicina:</label>
          <input type="text" id="name" class="form-control" required [(ngModel)]="medicine.name" name="name">
        </div>
  
        <!-- Unidades Disponibles -->
        <div class="form-group">
          <label for="availableUnits">Unidades Disponibles:</label>
          <input type="number" id="availableUnits" class="form-control" required [(ngModel)]="medicine.availableUnits" name="availableUnits">
        </div>
  
        <!-- Unidades Vendidas -->
        <div class="form-group">
          <label for="soldUnits">Unidades Vendidas:</label>
          <input type="number" id="soldUnits" class="form-control" required [(ngModel)]="medicine.soldUnits" name="soldUnits">
        </div>
  
        <!-- Costo -->
        <div class="form-group">
          <label for="cost">Costo:</label>
          <input type="number" id="cost" class="form-control" required [(ngModel)]="medicine.cost" name="cost">
        </div>
  
        <!-- Precio de Venta -->
        <div class="form-group">
          <label for="salesPrice">Precio de Venta:</label>
          <input type="number" id="salesPrice" class="form-control" required [(ngModel)]="medicine.salesPrice" name="salesPrice">
        </div>
  
        <!-- Botón de Actualización -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Actualizar Medicina</button>
        </div>
        
      </form>
    </section>
  </main>
  