<header class="header">
    <a href="/inicio">
        <div class="header-left">
            <img src="assets/images/logo.png" alt="logo">
            <h1>Doggy Dr.</h1>
        </div>
    </a>
    <div class="header-center">
        <ul class="index-menu">
            <li class="menu-elem" id="ME1">
                <a [routerLink]="['/inicio']">Inicio</a>
            </li>
            <li class="menu-elem" id="ME2">
                <a [routerLink]="['/services']">Servicios</a>
            </li>
            <li class="menu-elem" id="ME3">
                <a [routerLink]="['/sedes']">Sedes</a>
            </li>
            <li class="menu-elem" id="ME4">
                <a [routerLink]="['/blogs']">Blogs</a>
            </li>
            <li class="menu-elem" id="ME5">
                <a [routerLink]="['/contact']">Contacto</a>
            </li>
            <li class="menu-elem" id="ME5">
                <a [routerLink]="['/login']">Login</a>
            </li>
        </ul>
    </div>
    <div class="header-right">
        <button class="button" (click)="toggleChatbot()">¿Necesitas ayuda? usa <strong>VetBot</strong></button>

        <!-- Aquí se usa el selector correcto -->
        <app-chatbot *ngIf="isChatbotVisible" class="chatbot-panel" (close)="toggleChatbot()"></app-chatbot>
    </div>
</header>
