<main class="main">
    <div>
        <div class="outer-container">
            <div class="title-button-container">
                <h1>Mascotas</h1>
                <div class="button-container">
                    <a [routerLink]="['/pet/adds']" class="btn btn-info" id="btnAgregarMascota">Agregar</a>
                </div>    
            </div>
        </div>   

        <!-- Barra de búsqueda -->
        <div class="search-container">
            <input type="text" [(ngModel)]="searchQuery" placeholder="Buscar mascota por nombre..." class="search-input">
        </div>

        <!-- Contenedor de cartas -->
        <div class="cards-container">
            <!-- Genera las tarjetas filtrando por búsqueda -->
            <div *ngFor="let pet of filteredPets()" class="card">
                <img [src]="pet.urlImage" alt="{{pet.nombre}}" class="card-image">
                <div class="card-content">
                    <h3 class="card-title">{{pet.nombre}}</h3>
                    <p class="card-status">Estado: {{ pet.status ? 'Activo' : 'Inactivo' }}</p>
                    <p class="card-raza">Raza: {{pet.raza}}</p>
                    <p class="card-edad">Edad: {{pet.edad}}</p>
                    <p class="card-enfermedad">Enfermedad: {{pet.enfermedad}}</p>
                </div>
                <div class="card-actions">
                    <a [routerLink]="['/pet/find', pet.id]" id="seePetButton" class="btn btn-info">Ver</a>
                    <a [routerLink]="['/pet/update', pet.id]" class="btn btn-info">Editar</a>
                    <button class="btn btn-danger" (click)="deletePet(pet)">Borrar</button>
                </div>
            </div>
        </div>
    </div>
</main>
