<main>
  <section id="booking-section">
    <div class="form-container container">
      <h2>Agregar Cliente</h2>
      <!-- Formulario Angular #ownerForm="ngForm"-->
      <form (ngSubmit)="onSubmit()" #ownerForm="ngForm">
    
        <h3>Información del cliente</h3>
  
        <div class="form-group">
          <label for="id">Id:</label>
          <input type="number" id="id" class="form-control" required [(ngModel)]="formOwner.id" name="id">
        </div>
    
        <div class="form-group">
          <label for="name">Nombre:</label>
          <input type="text" id="name" class="form-control" required [(ngModel)]="formOwner.name" name="name">
        </div>
  
        <div class="form-group">
          <label for="username">Usuario:</label>
          <input type="text" id="username" class="form-control" required [(ngModel)]="formOwner.username" name="username">
        </div>
    
        <div class="form-group">
          <label for="document">Documento:</label>
          <input type="number" id="document" class="form-control" required [(ngModel)]="formOwner.document" name="document">
        </div>
  
        <div class="form-group">
          <label for="phone">Teléfono:</label>
          <input type="number" id="phone" class="form-control" required [(ngModel)]="formOwner.phone" name="phone">
        </div>
    
        <div class="form-group">
          <label for="mail">Correo Electrónico:</label>
          <input type="email" id="mail" class="form-control" required 
                 [(ngModel)]="formOwner.mail" name="mail"
                 pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
          <!-- Mostrar mensaje de error si el correo no es válido -->
          <div *ngIf="ownerForm.controls['mail']?.invalid && ownerForm.controls['mail']?.touched"
               class="text-danger" id="emailError">
            Ingresa un correo electrónico válido (contiene @, un punto, y sin caracteres especiales)
          </div>
        </div>
    
        <div class="form-group" id="button">
          <!-- Botón deshabilitado hasta que el formulario sea válido -->
          <button type="submit" class="btn btn-primary" id="enviarClienteBtn" [disabled]="!ownerForm.valid">Agregar Cliente</button>
        </div>
      </form>
    </div>
  </section>
</main>