<main style="background-image: url('../../assets/images/login/background.jpeg'); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 100vh;">
  <div class="login-container">
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
      <h2>Iniciar Sesión</h2>
      <div>
        <label for="document">Documento:</label>
        <input type="number" id="document" name="document" ngModel required>
      </div>
      <button class="button" type="submit" [disabled]="loginForm.invalid" id="clientLoginBtn">Iniciar Sesión</button>
    </form>

    <!-- Mensaje de éxito -->
    <div *ngIf="successMessage" class="alert alert-success" style="margin-top: 20px;">
      {{ successMessage }}
    </div>

    <!-- Mensaje de error con clase CSS -->
    <div *ngIf="errorMessage" class="alert alert-danger" style="margin-top: 20px;">
      {{ errorMessage }}
    </div>

    <p></p>
    <p>¿No tienes una cuenta? <a routerLink="/contact">Contactanos</a></p>
    <p>¿Eres veterinario? <a routerLink="/loginVet">Ingresa al portal</a></p>
  </div>
</main>
