<main *ngIf="owner" class="main">
    <h1>Mascotas de <span>{{ owner.name }}</span></h1> <!-- Nombre del cliente -->
    <div>

        <!-- Contenedor de cartas -->
        <div class="cards-container">
            <!-- Genera las tarjetas filtrando por búsqueda -->
            <div *ngFor="let pet of owner.pets" class="card">
                <img [src]="pet.urlImage" alt="{{pet.nombre}}" class="card-image">
                <div class="card-content">
                    <h3 class="card-title">{{pet.nombre}}</h3>
                    <p class="card-status">Estado: {{ pet.status ? 'Activo' : 'Inactivo' }}</p>
                    <p class="card-raza">Raza: {{pet.raza}}</p>
                    <p class="card-edad">Edad: {{pet.edad}}</p>
                    <p class="card-enfermedad">Enfermedad: {{pet.enfermedad}}</p>
                </div>
                <div class="card-actions">
                    <a [routerLink]="['/pet/find', pet.id]" id="seePetButton" class="button">Ver</a>
                </div>
            </div>
        </div>
    </div>
</main>