/* Estilos para el botón */
.button {
    background-color: #7044bf; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Padding interno */
    cursor: pointer; /* Cursor de mano */
    transition: 0.3s; /* Transición suave para transformaciones */
    border-radius: 10px; /* Bordes redondeados */
  }
  
  /* Estilo hover para el botón */
  .button:hover {
    color: white; /* Color del texto en hover */
    transform: translateY(-5px); /* Desplaza hacia arriba en hover */
  }
  