<main class="main">
    <div class="outer-container">
        <div class="title-button-container">
            <h1>Veterinarios</h1>

            <div class="button-container">
                <a [routerLink]="['/vet/adds']" class="btn btn-info">Agregar</a>
            </div>    
        </div>
    </div>   

    <!-- Barra de búsqueda -->
    <div class="search-container">
        <input type="text" [(ngModel)]="searchQuery" placeholder="Buscar veterinario por nombre..." class="search-input">
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Nombre</th>
                    <th>Especialidad</th>
                    <th>URL imagen</th>
                    <th>Usuario</th>
                    <th>Documento</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th># Tratamientos</th>
                    <th>Acciones</th> <!-- Columna para las acciones CRUD -->
                </tr>
            </thead>
            <tbody> 
                <!-- Filtro en el *ngFor para mostrar solo los que coincidan con la búsqueda -->
                <tr *ngFor="let vet of filteredVets()">
                    <td>{{ vet.status }}</td>
                    <td>
                        <a [routerLink]="['/vet/', vet.id, '/treatments']">{{ vet.name }}</a>
                    </td>
                    <td>{{ vet.specialty }}</td>
                    <td><img [src]="vet.urlImage" alt="{{ vet.name }}" class="vet-image"></td>
                    <td>{{ vet.userName }}</td>
                    <td>{{ vet.document }}</td>
                    <td>{{ vet.phone }}</td>
                    <td>{{ vet.mail }}</td>
                    <td>{{ vet.treatments?.length || 0 }}</td> 
                    <td>
                        <a [routerLink]="['/vet/find', vet.id]" class="btn btn-info">Ver</a>
                        <a [routerLink]="['/vet/update', vet.id]" class="btn btn-info">Editar</a>
                        <button class="btn btn-danger" (click)="deleteVet(vet)">Borrar</button>
                    </td>                      
                </tr>
            </tbody>
        </table>
    </div>
</main>
