<main class="main"> 
    <section class="container">
            <section class="containerCompartido" id="infoIndex">
                <img src="assets/images/logoWBG.png" alt="logo" height="350px" id="imgLogo">
                <section id="TextIndex">
                    <h2>El doctor que tu perro necesita!</h2>
                </section>
                <section id="buttonContainer">
                    <a href="/pet/agendar">
                        <button class="button" >Agenda tu cita</button>
                    </a>
                </section>
            </section>
            <section class="containerCompartido" >
            </section>
    </section>

    <section class="container2">
        <section id="boxes">
            <section class="box textBox" id="textBox1">
                <p>Visitanos en la clinica
                    <strong>Cra. 7 #40 - 62, Bogotá </strong></p>
            </section>
            <section class="box imgBox" >
                <img src="assets/images/index/perrito_agua.png" alt="waterDog" >
            </section>
            <section class="box imgBox">
                <img src="assets/images/index/Perrito_dormido.png" alt="sleppyDog" >
            </section>
            <section class="box textBox" id="textBox2">
                <p>Llamanos al numero
                    <strong>+57 (601) 320-8320</strong></p>
            </section>

        </section>
        <section class="info-content">
            <h2>Exámen básico</h2>
            <p>En Doggy Dr., brindamos un examen básico completo para asegurar la salud y bienestar de tu mascota.
                Nuestro proceso comienza con una recopilación detallada de la historia clínica. Luego, realizamos
                una evaluación física exhaustiva que incluye el peso, la condición corporal, la revisión de la piel
                y el pelaje, así como un chequeo de ojos, oídos y boca. También escuchamos el corazón y los pulmones
                y palpamos el abdomen para detectar cualquier anomalía.
                Además, llevamos a cabo pruebas diagnósticas, como análisis de sangre, orina y heces,
                para identificar problemas de salud ocultos.
            </p>
            <p>
                Actualizamos las vacunas y proporcionamos tratamientos antiparasitarios cuando es necesario. 
                Finalmente, te ofrecemos recomendaciones personalizadas sobre alimentación, ejercicio e higiene, 
                asegurando que tu fiel compañero esté siempre en las mejores manos. En Doggy Dr., 
                la salud de tu mascota es nuestra prioridad.</p>
        </section>
    </section>
    <section class="container3">
        <div class="carousel-container">
            <input type="radio" name="carousel" id="item-1" checked>
            <input type="radio" name="carousel" id="item-2">
            <input type="radio" name="carousel" id="item-3">
            
            <div class="carousel">
                <div class="carousel-item">
                    <div class="review">
                        <h3>REVIEWS</h3>
                        <p>¡Excelente servicio en Doggy Dr.! El personal fue muy amable y profesional. Mi mascota recibió una atención impecable. ¡Muy recomendable!</p>
                        <div class="reviewer">
                            <img src="assets/images/index/perritoCRS1.png" alt="PerritoCRS1">
                            <div>
                                <p class="name">Lorena Garcia</p>
                                <p class="rating">★★★★★</p>
                            </div>
                        </div>
                    </div>
                    <div class="image">
                        <img src="assets/images/index/perritoCRS1.png" alt="PerritoCRS1">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="review">
                        <h3>REVIEWS</h3>
                        <p>Doggy Dr. fue una experiencia maravillosa para mi mascota y para mí. La atención fue rápida y eficiente, y el personal realmente sabe cómo manejar a los animales.</p>
                        <div class="reviewer">
                            <img src="assets/images/index/perritoCRS2.png" alt="PerritoCRS2">
                            <div>
                                <p class="name">Carlos Méndez</p>
                                <p class="rating">★★★★★</p>
                            </div>
                        </div>
                    </div>
                    <div class="image">
                        <img src="assets/images/index/perritoCRS2.png" alt="PerritoCRS2">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="review">
                        <h3>REVIEWS</h3>
                        <p>El servicio en Doggy Dr. superó mis expectativas. Mi perro fue tratado con mucho cariño y profesionalismo. Definitivamente regresaré.</p>
                        <div class="reviewer">
                            <img src="assets/images/index/perritoCRS3.png" alt="PerritoCRS3">
                            <div>
                                <p class="name">María López</p>
                                <p class="rating">★★★★★</p>
                            </div>
                        </div>
                    </div>
                    <div class="image">
                        <img src="assets/images/index/perritoCRS3.png" alt="PerritoCRS3">
                    </div>
                </div>
                
                
            </div>
            
            <div class="controls">
                <label for="item-1" class="control"></label>
                <label for="item-2" class="control"></label>
                <label for="item-3" class="control"></label>
            </div>
        </div>
    </section>
</main>
