<div class="dashboard">
    <h2>Tablero de datos</h2>
  
    <div class="kpi-grid">
      <div class="kpi">
        <h3>Tratamientos Administrados en el Último Mes</h3>
        <p>{{ treatmentsLastMonth }}</p>
      </div>
  
      <div class="kpi">
        <h3>Veterinarios Activos</h3>
        <p>{{ activeVeterinarians }}</p>
      </div>
  
      <div class="kpi">
        <h3>Veterinarios Inactivos</h3>
        <p>{{ inactiveVeterinarians }}</p>
      </div>
  
      <div class="kpi">
        <h3>Mascotas Totales</h3>
        <p>{{ totalPets }}</p>
      </div>
  
      <div class="kpi">
        <h3>Mascotas Activas (En Tratamiento)</h3>
        <p>{{ activePets }}</p>
      </div>
  
      <div class="kpi">
        <h3>Ventas Totales</h3>
        <p>{{ totalSales }}</p>
      </div>
  
      <div class="kpi">
        <h3>Ganancias Totales</h3>
        <p>{{ totalEarnings }}</p>
      </div>
  
      <div class="kpi">
        <h3>Top 3 Tratamientos Más Vendidos</h3>
        <table>
          <thead>
            <tr>
              <th>Tratamiento</th>
              <th>Unidades Vendidas</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let treatment of top3Treatments">
              <td>{{ treatment.treatmentId }}</td> <!-- ID del tratamiento -->
              <td>{{ treatment.numUses }}</td>     <!-- Unidades vendidas -->
            </tr>
          </tbody>
        </table>
      </div>
           
      <div class="kpi">
        <h3>Tratamientos por tipo de medicamento</h3>
        <table>
          <thead>
            <tr>
              <th>Medicinas</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let treatment of treatmentsByMedicine">
              <td>{{ treatment.treatmentId }}</td> <!-- ID del tratamiento -->
              <td>{{ treatment.numUses }}</td>     <!-- Unidades vendidas -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  