<main class="main"> 
    <section id="containerSede">
        <img src="assets/images/headquarters/sedePrincipal.png" alt="sede" id="sede" height="450px">
    </section>
    <h1>Sede Principal</h1>
    
    <p>
        Nuestra sede principal está ubicada dentro de la Universidad Javeriana en la carrera 7 #40 -62,
        específicamente en el Edificio de Ingeniería, piso 10, consultorio 352. Contamos con instalaciones
        veterinarias de primer nivel, equipadas con tecnología avanzada y diseñadas para ofrecer el mejor cuidado
        y confort a sus mascotas.
    </p>
    <div id="containerButton">
        <button class="maps-button" onclick="window.location.href='https://maps.app.goo.gl/dhvrXxsLnATqLdEC8'">
            Ver en Google Maps
        </button>    
    </div>
    
    <h1>Galeria</h1>

    <section id="containerGaleria">
        <img src="assets/images/headquarters/Gllry1.png" alt="galeria1" id="galeria1">
        <img src="assets/images/headquarters/Gllry2.png" alt="galeria2" id="galeria2">
        <img src="assets/images/headquarters/Gllry3.png" alt="galeria3" id="galeria3">
        <img src="assets/images/headquarters/Gllry4.png" alt="galeria4" id="galeria4">
        <img src="assets/images/headquarters/Gllry5.png" alt="galeria5" id="galeria5">
        <img src="assets/images/headquarters/Gllry6.png" alt="galeria6" id="galeria6">
    </section>
  </main>