<main class="main">
    <section id="containerCG" class="info-section">
        <div class="img-container">
            <img src="assets/images/services/PerritoConsultaGeneral.png" alt="Principal" id="PerritoConsultaGeneral">
        </div>
        <section id="consultaGeneral">
            <h3>Consultas y chequeos generales</h3>
            <p>
                Exámenes de rutina diseñados para evaluar la salud general del animal y detectar posibles problemas de salud.
                Estos chequeos incluyen una revisión completa del estado físico del animal, 
                análisis de muestras y observaciones detalladas para asegurar que cualquier anomalía
                sea identificada y tratada a tiempo.
            </p>
        </section>
    </section>
    <section id="containerVD" class="info-section">
        <section id="vacunacion">
            <h3>Vacunaciones y Desparasitación</h3>
            <p>
                Aplicación de vacunas esenciales para prevenir enfermedades comunes en mascotas, 
                asegurando su bienestar a largo plazo. Además, ofrecemos tratamientos especializados 
                para eliminar parásitos internos y externos, garantizando que tu mascota se mantenga 
                saludable.
            </p>
        </section>
        <div class="img-container">
            <img src="assets/images/services/PerritoVacunacion.png" alt="Principal" id="PerritoVacunacion">
        </div>
    </section>
    <section id="containerOT" class="info-section">
        <div class="img-container">
            <img src="assets/images/services/PerritoOdontologia.png" alt="Principal" id="PerritoOdontologia">
        </div>
        <section id="odontologia">
            <h3>Odontología veterinaria</h3>
            <p>
                Realizamos una limpieza dental exhaustiva para mantener la salud bucal de tu mascota,
                incluyendo la eliminación de placa y sarro. También llevamos a cabo extracciones de dientes
                y ofrecemos tratamiento completo de diversas enfermedades dentales,
                asegurando una boca sana y libre de dolor.
            </p>
        </section>
    </section>
    <section id="containerLab" class="info-section">
        <section id="laboratorio">
            <h3>Laboratorio y diagnóstico por Imágenes</h3>
            <p>
                Análisis de sangre, orina, heces y otros fluidos corporales para detectar enfermedades
                y condiciones médicas. Radiografías, ecografías y otros estudios de imagen para diagnosticar
                problemas internos.
            </p>
        </section>
        <div class="img-container">
            <img src="assets/images/services/PerritoRadiografia.png" alt="Principal" id="PerritoRadiografia">
        </div>
    </section>
    <section id="buttonContainer">
        <a href="/agendarCita">
            <button class="button" id="bookingButton"><p>Agenda tu cita</p></button>
        </a>
    </section>
</main>